html {
    box-sizing: border-box;
    font-size: 62.5%; /** Reset para REMS - 62.5% = 10px de 16px **/
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
    line-height: 2;
}

button {
    color: #ffffff;
    background-color: #E08709;
    font-weight: 700;
    text-decoration: none;
    font-size: 1.8rem;
    padding: 1rem 3rem;
    margin-top: 3rem;
    display: inline-block;
    text-align: center;
    border: none;
    display: block;
    flex: 0 0 100%;
}


/** Galeria de Fotos **/

.galeria{
    font-family: 'Lato', sans-serif;
    margin-right:12rem;
    margin-left:12rem;
}

.galeria h1{
    text-align: center;
    margin: 3rem 0 1rem 0;
    font-size: 3.8rem;
}

.imagenes{
    width:100%;
    margin:auto;

}

.imagen img{
    margin:5px;
    width:100%;
}

.contenedor-imagenes .imagenes{
    display:grid;
    width: 100%;
}

@media(min-width:520px){
    .contenedor-imagenes .imagenes{
        grid-template-columns:repeat(2,50%);
    }
}

@media(min-width:728px){
    .contenedor-imagenes .imagenes{
        grid-template-columns:repeat(3,33.3%);
    }
}

@media(min-width:1024px){
    .contenedor-imagenes .imagenes{
        grid-template-columns:repeat(4,25%);
    }
}


@media (max-width:1024px){
    .contenedor-imagenes{
        width:95%;
    }
}

@media (max-width:700px){
    .contenedor-imagenes{
        width:90%;
    }
    .contenedor-imagenes .imagen{
        width: 48%;
    }
}

@media (max-width:450px){
    h1{
        font-size: 22px;
    }
    .contenedor-imagenes{
        width:98%;
    }
    .contenedor-imagenes .imagen{
        width: 80%;
    }
}





/** Globales **/
img {
    max-width: 100%;
}
.contenedor {
    width: 95%;
    max-width: 120rem; /** = 1200px; **/
    margin: 0 auto;
}
h1 {
    font-size: 3.8rem;
}
h2 {
    font-size: 3.4rem;
}
h3 {
    font-size: 3rem;
}
h4 {
    font-size: 2.6rem;
}

.centrar-parrafo{
    text-align:justify;
}

/** Utilidades **/
.seccion {
    margin-top: 3rem;

   
}
.fw-300 {
    font-weight: 300;
}
.centrar-texto {
    text-align:center;
}

.d-block {
    display: block!important;
}
.contenido-centrado {
    max-width: 800px;
}

/** Botones **/
.boton {
    color: #ffffff;
    font-weight: 700;
    text-decoration: none;
    font-size: 1.8rem;
    padding: 1rem 3rem;
    margin-top: 3rem;
    display: inline-block;
    text-align: center;
    border: none;
    display: block;
    flex: 0 0 100%;
}
@media (min-width: 768px) {
    .boton {
        display: inline-block;
        flex: 0 0 auto;
    }
}
.boton:hover {
    cursor: pointer;
}
.boton-amarillo {
    background-color: rgba(0, 134, 192, 0.559);
}
.boton-verde {
    background-color:#E08709;
    margin:1rem 10rem 3rem 0;
}
.botonEnviar {
    margin:3rem 2rem 3rem 0;
    background-color:#E08709;
}


/* Header */
.site-header {
    background-color: #333333;
    padding: 1rem 0 3rem 0;
}
.site-header.inicio {
    background-image: url(../img/headerSantiago.jpeg);
    background-position: center center;
    background-size: cover;
    height: 100vh;
    min-height: 60rem;
}
.contenido-header {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}
@media (min-width: 768px) {
    .contenido-header{
        text-align:end;
    }
}
.contenido-header h1 {
    color: rgb(255, 255, 255);
    display:flex;
    font-size: 50px;
    padding:0 10rem 0 10rem;
    margin-bottom:5px;
    max-width: 100rem;
    text-align:end;
    line-height: 1;
}
@media(min-width: 375px){
    h1{
        display:flex;
        text-align:end;
    }
}
.barra {
    padding: 1rem 10rem 1rem 10rem;
}
.barra img{
    width: 25rem;
}
@media (min-width: 768px) {
    .barra {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

/** Navegacion **/
.navegacion a {
    color: #ffffff;
    text-decoration: none;
    font-size: 2.2rem;
    display: block;
}
@media (min-width: 768px) {
    .navegacion a {
        display: inline-block;
        font-size: 1.8rem; /** = 18px **/
        margin-right: 2rem;
    }
    .navegacion a:last-of-type {
        margin: 0;
    }
}
.navegacion a:hover {
    color: #00b1ae;
}

/** Mobile Menu **/
.mobile-menu img {
    width: 5rem;
}
@media (min-width: 768px) {
    .mobile-menu {
        display: none;
    }
}
.navegacion:target {
    display: block;
}
.navegacion {
    display: none;
}
@media (min-width: 768px) {
    .navegacion {
        display: block;
    }
}

/** Iconos Nosotros **/
@media (min-width: 768px) {
    .iconos-nosotros {
        display: flex;
        justify-content: space-between;
    }
    .iconos-nosotros img{
        width:10 10 10 10;
    }
}
.icono {
    text-align: center;
    margin:1rem 10rem 1rem 10rem;
    
}
@media (min-width: 768px) {
    .icono {
        flex-basis: calc(33.3% - 1rem);
    }
}
.icono h3 {
    text-transform: uppercase;
}
.icono p{
    text-align:justify;
}
/** Anuncios **/

@media (min-width: 768px) {
    .contenedor-anuncios{
        display:flex;
        margin-left:10rem;
        margin-right:10rem;
        margin-bottom:3rem;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}


.contenedor-anuncios .anuncio {
    border: 1px solid #B5B5B5;
    background-color: #F5F5F5;
    margin-bottom: 2rem;
}
@media (min-width: 768px) {
    .anuncio {
        flex: 0 0 calc(33.3% - 1rem);
    }
}
.contenido-anuncio {
    padding: 2rem;
}
.contenido-anuncio h3, 
.contenido-anuncio p  {
    margin:0;
    text-align: center;
}
.precio {
    color: #E08709;
    font-weight: 700;
}

.ver-todas {
    display: flex;
    justify-content: flex-end;
}

/** Contacto Home **/
.imagen-contacto {
    background-image: url(../img/maqueta/encuentra.jpg);
    background-position: center center;
    background-size: cover;
    height: 40rem;
    display: flex;
    align-items: center;
}
.contenido-contacto {
    flex: 0 0 95%;
    color: #ffffff;
}
.contenido-contacto p {
    font-size: 1.8rem;
}

/** Secci¨®n Inferior **/
@media (min-width: 768px) {
    .seccion-inferior {
        display: flex;
        justify-content: space-between;
    }
    .seccion-inferior .blog {
        flex-basis: 60%;
    }
    .seccion-inferior .testimoniales {
        flex-basis: calc(40% - 2rem);
    }
}
.entrada-blog {
    margin-bottom: 2rem;
}
@media (min-width: 768px) {
    .entrada-blog {
        display: flex;
        justify-content: space-between;
    }
}

.entrada-blog:last-of-type {
    margin-bottom: 0;
}
@media (min-width: 768px) {
    .entrada-blog .imagen {
        flex-basis: 40%;
    }
    .entrada-blog .texto-entrada {
        flex-basis: calc(60% - 3rem);
    }
}


/** Footer **/
.enlaces{
    width:3rem;
    justify-content:space-between;
}
.site-footer {
    background-color: #333333;
    margin: 0;
}
.contenedor-footer {
    padding: 3rem 0;
    text-align: center;
}
@media (min-width: 768px) {
    .contenedor-footer {
        display: flex;
        justify-content: space-between;
    }
}
.site-footer nav {
    display: none;
}
@media (min-width: 768px) {
    .site-footer nav {
        display: block;
    }
}

.copyright {
    margin: 0;
    color: #ffffff;
}

/** INTERNAS **/
/* Nosotros **/
@media (min-width: 768px) {
    .contenido-nosotros {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 2rem;
    }
}

.texto-nosotros blockquote {
    font-weight: 900;
    font-size: 2rem;
    margin: 0;
    padding: 1rem 0 3rem 0;
}

/** Anuncio **/
.resumen-propiedad {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/** Contacto **/
.contacto p {
    font-size: 1.4rem;
    color: #4f4f4f;
    margin: 2rem 0 0 0;
}
legend {
    font-size: 2rem;
    color: #4f4f4f;
}
label {
    font-weight: 700;
    text-transform: uppercase;
    display: block;
}
input:not([type="submit"]),
textarea,
select {
    padding: 1rem;
    display: block;
    width: 100%;
    background-color: #e1e1e1;
    margin-bottom: 2rem;
    border: none;
    border-radius: 1rem;
}
input[type="radio"]{
    width: auto;
    margin: 0;
}
select {
    -webkit-appearance: none;
    appearance: none;
}
textarea {
    height: 20rem;
}
.forma-contacto {
    max-width:30rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}